* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

html {
    background: url("images/mainImg.PNG") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden {
    display: none;
}


/******LANDING PAGE AND SIGN UP PAGE******/

.textBox {
    max-width: 800px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: white;

}

p {
    color: white;
}

#mainImg {
    display: block;
    border-radius: 8px;
    width: 7%;
    text-align: left;
}

h1 {
    text-align: center;
}

.appName {
    color: darkred;
}

#appFeatures li {
    list-style-type: none;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

button:hover {
    background-color: darkred;
    color: orangered;
    cursor: pointer;
}

.sign-in-up-form {
    vertical-align: middle;
    font-weight: 600;
    margin: 0 auto 30px auto;
    background-color: #FFFF;
    max-width: 350px;
    border: black solid 1px;
    border-radius: 7px;
    font-size: 1.3rem;
    padding: 20px 0;
    text-align: center;
    opacity: .9;
    color: black;

}

.sign-in-up-form p {
    color: dimgray;
}

.demoInfo {
    font-size: .9rem;
    color: dimgray;
}

.sign-in-up-form legend {
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 100%;
    font-size: 2rem;
}

.sign-in-up-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
    text-align: left;
}


.sign-in-up-form input {
    border: #0E2E45 1px solid;
    width: 100%;
    margin: 10px auto 20px;
    padding: 8px;
}

.signInUpLink {
    font-size: 1.2rem;
    color: red;
    text-align: center;
    background-color: none;
}

.submit-button {
    background-color: red;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 0 auto;
    color: white;
    display: block;
}

/******NAVIGATION STYLES******/

#logoImg {
    width: 110px;
    opacity: .8;
    border-radius: 7px;
    text-align: left;
}

.navbar {
    background-color: black;
    opacity: .9;
    margin: -10px auto 30px auto;
    text-align: center;
    max-width: 800px;
}

.navbar ul {
    display: inline-block;

}


.nav-options li {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.nav-options a {
    color: white;
    text-decoration: none;
}

.nav-options a:hover {
    text-decoration: underline;
}

.signout-button {
    background-color: red;
    border-radius: 7px;
    padding: 5px;
    color: white;
    font-size: 1rem;
}

#signoutButton:hover {
    color: #0E2E45;
    cursor: pointer;

}

.formMessage {
    font-size: .7rem;
    color: forestgreen;
}

/********View a List of all Recipes Page***********************************/

.displayRecipes {
    background-color: black;
    max-width: 500px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: white;
    border-radius: 8px;

}

.hint {
    max-width: 500px;
    margin: 0 auto 30px auto;
    text-align: center;
}

#recipe-list {
    text-align: center;
    margin-bottom: 30px;
    list-style-type: none;
    font-size: 1.5rem;
}


#recipe-list a {
    text-decoration: none;
    color: white;
}

#recipe-list a:hover {
    color: red;
    text-decoration: underline;
}

/******Add Recipes form******/

/* Style inputs, select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: black;
}

/* Style the container */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

/******Search for Recipe******/

.inputGroup {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

#search-text {
    color: white;
}

/******Detailed View of Recipe******/

#recipe-form-output {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

/******Footer STYLE******/

footer {
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin: 20px auto 0 auto;
    opacity: .9;
    padding: 10px;
    max-width: 800px;
    bottom: 0;
    height: 60px;

}

/******Media Queries******/

@media only screen and (max-width: 750px) {
    .navbar {
        max-width: 500px;
    }
    footer {
        max-width: 500px;
    }

    html {
        font-size: 70%;
    }
    .hint {
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        opacity: .9;
        max-width: 500px;
        margin: 0 auto 30px auto;
        text-align: center;
        font-size: .8rem;
    }
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: auto;
    }
}


@media only screen and (max-width: 512px) {

    .navbar {
        width: 100%;
    }

    .navbar li {
        display: block;
    }

    footer {
        width: 100%
    }

    html {
        font-size: 60%;
    }
    .hint {
        font-size: 1.1rem;
    }


}
